{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nyaki Adult Family Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="adult family home Seattle, adult family home Auburn WA, assisted living Seattle Washington, senior care Auburn Washington, dementia care Seattle, Alzheimer’s care Auburn WA, residential care facility Seattle WA, elderly care home Auburn WA, long term care Seattle, 24 hour senior care Auburn Washington, private care home Seattle, AFH Auburn WA, senior housing Seattle Washington, memory care Auburn WA, compassionate senior care Seattle and Auburn Washington"
          name="keywords">
    <meta content="Nyaki Adult Family Home provides compassionate, 24-hour personalized senior care in Seattle and Auburn, Washington. Specializing in assisted living and dementia care in a safe, comfortable home environment. Schedule a tour today."
          name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock head %}
</head>

<body>
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-12 px-5 text-end">
            <small><i class="fa fa-phone-alt ms-4 me-2"></i> +1 (206) 536 8608</small>
            <small class="ms-4"><i class="fa fa-envelope me-2"></i> info@nyakiafh.com</small>
        </div>

    </div>

    <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="{% url 'index' %}" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="fw-bold text-primary m-0">
                <img style="max-height: 36px!important;padding:0!important;margin:0!important" class="  border-0"
                     src="{% static 'img/logo/logo-symbol.png' %}">
                Nyaki AFH</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'index' %}" class="nav-item nav-link {% if 'about' not in request.path and 'services' not in request.path and 'gallery' not in request.path and 'contact' not in request.path%} text-dark{% endif %}">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link {% if 'about' in request.path %}text-dark{% endif %}" >About Us</a>
                <a href="{% url 'services' %}" class="nav-item nav-link {% if 'service' in request.path %}text-dark{% endif %}">Services</a>
                <a href="{% url 'gallery' %}" class="nav-item nav-link {% if 'gallery' in request.path %}text-dark{% endif %}">Gallery</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link {% if 'contact' in request.path %}text-dark{% endif %}">Contact Us</a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
{% block content %}
{% endblock %}


<!-- Footer Start -->
<div class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">

                <h1 class="fw-bold text-primary mb-4">
                    <img style="max-height: 36px!important;padding:0!important;margin:0!important" class="  border-0"
                         src="{% static 'img/logo/logo-symbol.png' %}">
                    Nyaki AFH</h1>
                <p>Thoughtful, compassionate care that upholds dignity, independence, and a true sense of home.</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Contacts</h4>
                <p><i class="fa fa-map-marker-alt me-3"></i>2635 Forest Ridge Dr SE, Auburn, WA, USA</p>
                <p><i class="fa fa-map-marker-alt me-3"></i>505 R St NE, Auburn, WA, USA</p>
                <p><i class="fa fa-mobile me-3"></i>+1 (206) 536 8608</p>
                <p><i class="fa fa-phone-alt me-3"></i>+1 (253) 737 4410</p>
                <p><i class="fa fa-fax me-3"></i>+1 (253) 736 9410</p>
                <p><i class="fa fa-envelope me-3"></i>info@nyakiafh.com</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" href="{% url 'index' %}">Home</a>
                <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                <a class="btn btn-link" href="{% url 'services' %}">Services</a>
                <a class="btn btn-link" href="{% url 'gallery' %}">Gallery</a>
                <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <script>document.write(new Date().getFullYear())</script> &copy; <a href="{% url 'index' %}">Nyaki
                    Adult Family Home</a>, All Right Reserved.
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

<!--Appointment Modal -->
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-0 " style="border-radius: 10px!important;">
            <div class="d-flex p-3 justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3cF0DUy82Zr-aLw_V6Umr0HNymlEz0PrBHXbNC2gg1V9tLB9DYwkm6sDvQ5bwyDsqoITitxQSD?gv=true"
                    style="height:100vh!important; border:0;!important;">
            </iframe>
        </div>
    </div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>

</html>